body {
	font-family: roboto, sans-serif;
	margin: 0;
}

h2 {
	background-color: cornflowerblue;
	color: white;
	padding: 1rem;
	margin: 0;
	box-shadow: 0 0 1rem rgba(0,0,0,.6);
	position: sticky;
	top: 0;
	left: 0;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color: cornflowerblue;
	color: white;
}

tr {
	margin: 0;
	padding: 0;
}

td, th {
	margin: 0;
	padding: .4rem;
}

tr:nth-child(2n) {
	background-color: #eeeeee;
}

.main-container {
	margin: 1rem;
}