table {
    width: 100%;
}

mat-card {
    margin-top: 1rem;
    text-align: center;
}

.bedarf {
    display: inline-block;
    text-align: center;
    width: 2rem;
}

.anforderButton {
    margin-left: 1rem;
}

.td-artnr {
    width: 10%;
}

.td-produkt {
    width: 50%;
}

.td-bedarf {
    width: 20%;
}

.td-vorrat {
    width: 20%;
}

mat-card-actions {
    text-align: right;
}