<mat-toolbar color="primary">
    <h2 class="mat-headline">{{name}}: Inventar</h2>
</mat-toolbar>

<div class="component-container">
    <table mat-table *ngIf="inventar.length > 0" [dataSource]="inventar" class="mat-elevation-z8">
        <ng-container matColumnDef="Artikelnummer">
            <th mat-header-cell *matHeaderCellDef> Art.Nr. </th>
            <td class="td-artnr" mat-cell *matCellDef="let element"> {{element.artnr}} </td>
        </ng-container>

        <ng-container matColumnDef="Produkt">
            <th mat-header-cell *matHeaderCellDef> Produkt </th>
            <td class="td-produkt" mat-cell *matCellDef="let element"> {{element.produkt}} </td>
        </ng-container>

        <ng-container matColumnDef="Vorrat">
            <th mat-header-cell *matHeaderCellDef> Vorrat </th>
            <td class="td-vorrat" mat-cell *matCellDef="let element"> {{element.vorrat}} </td>
        </ng-container>

        <ng-container matColumnDef="Bedarf">
            <th mat-header-cell *matHeaderCellDef> Bedarf </th>
            <td class="td-bedarf" mat-cell *matCellDef="let element">
                <button *ngIf="element.bedarf > 0" mat-icon-button color="warn" (click)="wenigerBedarf(element)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
                <button *ngIf="element.bedarf == 0" mat-icon-button disabled>
                    <mat-icon>remove_circle</mat-icon>
                </button>
                <span class="bedarf">{{element.bedarf}}</span>
                <button mat-icon-button color="primary" (click)="mehrBedarf(element)">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let rowData; columns: columns"></tr>
    </table>

    <mat-card *ngIf="inventar.length == 0" class="mat-elevation-z8 no-products-warning">
        <mat-card-header>
            <mat-card-title>Keine Produkte im Inventar</mat-card-title>
            <mat-card-subtitle>Fordern Sie über das Formular unten neue Produkte an</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card *ngIf="bestellbar.length > 0" class="mat-elevation-z8 lieferplan-item">
        <mat-form-field>
            <mat-label>Neues Produkt anfordern</mat-label>
            <mat-select [(value)]="neuesProdukt">
                <mat-option *ngFor="let produkt of bestellbar" [value]="produkt.name">{{produkt.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button *ngIf="neuesProdukt != null" mat-button class="anforderButton" color="primary"
            (click)="produktAnfordern()">ANFORDERN</button>
        <button *ngIf="neuesProdukt == null" mat-button class="anforderButton" disabled>ANFORDERN</button>
    </mat-card>

    <mat-card class="mat-elevation-z0">
        <mat-card-actions>
            <a mat-button color="primary" [routerLink]="['/app-haendler-menu', name]" routerLinkActive="active">ZURÜCK
                ZUM HÄNDLERMENÜ</a>
        </mat-card-actions>
    </mat-card>
</div>