.neues-produkt-container {
    margin: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

mat-card-actions {
    text-align: right;
}

mat-form-field {
    width: 100%;
}