<mat-toolbar color="primary">
    <h2 class="mat-headline">Lieferplan</h2>
</mat-toolbar>

<div class="lieferplan-container">
    <mat-card *ngFor="let lieferung of lieferungen" class="mat-elevation-z8 lieferplan-item">
        <div>
            <mat-card-header>
                <mat-card-title>{{lieferung.name}}</mat-card-title>
                <mat-card-subtitle>{{lieferung.ort}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <table mat-table [dataSource]="lieferung.data">
                    <ng-container matColumnDef="Produkt">
                        <th mat-header-cell *matHeaderCellDef> Produkt </th>
                        <td mat-cell *matCellDef="let element"> {{element.produkt}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Menge">
                        <th mat-header-cell *matHeaderCellDef> Menge </th>
                        <td mat-cell *matCellDef="let element"> {{element.menge}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let rowData; columns: columns"></tr>
                </table>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="geliefert(lieferung.name)">
                Geliefert
            </button>
        </mat-card-actions>
    </mat-card>
</div>