/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2020, 12:21:16 AM
    Author     : samu
*/

.shadow {
    box-shadow: rgb(0,0,0,.6) 0 0 1rem;
}

body {
    margin: 0;
    left: 0;
    top: 0;
    font-family: roboto, sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
}

#content {
    margin-top: 2rem;
    padding: 1rem;
}

.menubar {
    background-color: #6495ed;
    color: white;
    padding: 1rem;
}

.menubar strong {
    font-weight: 700;
}

.menubar ul {
    display: inline-block;
    padding: 0;
    margin: 0 2rem;
}

.menubar li {
    display: inline-block;
}

.menubar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: .4rem;
}

.menubar a:hover {
    background-color: #6091e9;
}

.list_form {
    padding: 1rem;
    border-radius: .2rem;
    text-align: center;
}

.list_form a {
    display: inline-block;
    background-color: #6495ed;
    color: white;
    text-decoration: none;
    padding: .4rem;
    border-radius: .2rem;
}

.list_form table {
    width: 100%;
    border-radius: .2rem;
    border: none;
    margin: 1rem 0;
}

.list_form th {
    background-color: #6495ed;
    color: white;
}

.list_form td, th {
    border: none;
    padding: .2rem 1rem;
}
.table_odd_row {
    background-color: #eeeeee;
}

.table_even_row {
    background-color: #ffffff;
}

.cowBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("pics/andy-kelly-5APBLfC2hUs-unsplash.jpg");
    background-repeat: none;
    background-size: cover;
    background-position-x: right;
    background-positoin-y: bottom;
    z-index: -2;
}

.chart_form {
    padding: 1rem;
    border-radius: .2rem;
    margin-bottom: 1rem;
}

h2 {
    text-align: left;
}